---
- name: Clone logstash-forwarder repository
  git:
    repo: git://github.com/etsy/logstash-forwarder.git
    dest: /opt/logstash-forwarder

- name: Execute Go on logstash-forwarder
  command: go build -o logstash-forwarder
  args:
    chdir: /opt/logstash-forwarder

- name: Upload public certificate
  template:
    src: logstash-forwarder.crt
    dest: /opt/logstash-forwarder/logstash-forwarder.crt

- name: Configure for forwarder
  template:
    src: conf.d/forwarder.conf
    dest: /opt/logstash-forwarder/forwarder.conf
